СОДЕРЖАНИЕ 
Сессия 3 данного задания состоит из следующих документации / 
файлов: 
WSR2018_DE09-C3.pdf (Инструкция к сессии 3) 
testdata.zip (Данные для тестирования) 
ВВЕДЕНИЕ 
На этой сессии Вы будете продолжать развивать информационную 
систему заказчика, опираясь на то, что Вы уже разработали. 
ВНИМАНИЕ! Если Вы не выполнили полностью задания  предыдущих 
сессий, не выполняйте их сейчас –  у Вас есть новые данные для 
работы. 
Разрабатываемая Вами функциональность позволит составлять и 
управлять спецификациями на изделия, рассчитать минимальное время 
изготовления заказа и отобразить графически процесс производства, 
оценить затраты материалов и комплектующих и времени их доставки , а 
также сформировать отчет по ним. 
ИНСТРУКЦИЯ УЧАСТНИКУ 
К концу этой сессии у Вас должны быть достигнуты результаты, 
необходимые для того чтобы заказчик был спокоен , что информационная 
система будет завершена вовремя. 
Убедитесь, что Вы предусмотрели все соответствующие проверки и 
сообщения об ошибках во всех частях системы. 
Убедитесь, что все соответствующие кнопки и механизмы работают в 
конце сессии. Не забывайте подключать создаваемые Вами формы к 
формам и интерфейсам, созданным ранее. 
Убедитесь, что Вы  используете соответствующие соглашения об 
именах для всех частей системы по мере необходимости. 
В конце сессии все результаты будут сохранены и переданы заказчику 
без возможности дальнейшей доработки. 
ПРАКТИЧЕСКИЕ РЕЗУЛЬТАТЫ 
3.1 СПЕЦИФИКАЦИЯ НА ИЗДЕЛИЕ 
На каждое изделие (заказ в целом или его составная часть – 
сборочная единица /деталь) мастер заносит спецификацию, которая 
хранится в базе данных и должна иметь возможность вывода на 
печать. 
Создайте форму, позволяющую мастеру просматривать и 
редактировать спецификации изделий. 
Переход к спецификации должен быть осуществлен из списка 
изделий. 
Каждое издел ие может иметь несколько чертежей (как 
полученных от заказчиков, так и составленных конструктором 
компании), которые хранятся в базе данных. 
Каждое изделие имеет индивидуальные размеры. Для их 
хранения мастер может добавлять неограниченное количество 
замеров, включающих наименование замера, единицу измерения и 
значение (например, вес конвейера = 1030 кг, количество роликов = 12 
штук). 
Спецификация также включает в себя: 
• список необходимых материалов и их количество, 
• список необходимых комплектующих и их количество, 
• список необходимых сборочных единиц /деталей и их 
количество, 
• список последовательных операций с указанием: 
o типа оборудования для выполнения, 
o времени выполнения операции, 
• словесное описание выполнения операций. 
 
3.2 ОЦЕНКА ЗАТРАТ МАТЕР ИАЛОВ И 
КОМПЛЕКТУЮЩИХ И ВРЕМЕНИ ДОСТАВКИ 
Так как от наличия материалов и комплектующих зависит 
возможность производства конвейера, то необходимо реализовать 
функционал по проверке всех позиций, требуемых для изготовления, и 
расчет минимальных сроков его доставки. 
Создайте форму, отображающую следующую информацию: 
• список необходимых материалов и комплектующих для 
производства с указанием артикула и названия, 
• их требуемое количество, 
• имеющееся количество на складах,  
• недостающее количество, 
• закупочная цена, 
• себестоимость материала/комплектующего, 
• минимальное время, необходимое для доставки. 
Как итог должно быть выведено минимальное время, которое 
понадобится для доставки в сех материалов и комплектующих для 
производства, а также их общую себестоимость. 
Данная форма должна быть доступна только менеджеру после 
составления спецификаций на заказ и открываться из формы заказа. 
Результаты задач, поставленных в пунктах 3.3 и 3.4 мо гут быть 
отображены на этой же форме. 
 
3.3 ОЦЕНКА МИНИМАЛЬНОГО  ВРЕМЕНИ 
ПРОИЗВОДСТВА 
В компанию могут поступать срочные заказы с очень высоким 
приоритетом, для скорейшего выполнения которых даже приходится 
приостанавливать процессы основного производства.  
Необходимо реализовать расчет минимального времени, которое 
потребуется для производства такого приоритетного заказа, с  учетом 
того, что прочие операции будут временно приостановлены. 
Учтите, что операции, описанные в спецификации на одно 
изделие, должны выполняться последовательно. Однако для 
производства одного изделия в спецификации часто указывается 
несколько сборочных  единиц/деталей. Производство сборочных 
единиц/деталей может происходить параллельно, что и позволяет 
сократить время производства. 
Учтите, что в спецификации указывается лишь тип оборудования, 
а операция выполняется на конкретной единице оборудования. Нельзя 
начать выполнение операции на оборудовании, которое занято в 
данный момент. 
Учтите, что нельзя начинать производство сборочной единицы, 
если входящие в нее сборочные единицы /детали еще не готовы на 
данный момент. 
 
Вы вправе предложить и использовать со бственный алгоритм 
расчета, но как типовой предлагается следующий алгоритм: 
1. Начинать производство следует с  деталей – элементов, 
которые не содержат в своей спецификации других сборочных 
единиц/деталей. 
2. При выборе первой сборочной единицы /детали для 
производства (соответственно, она первой займет 
необходимое оборудование) лучше выбирать ту, производство 
которой занимает наибольшее время. 
3. Если для выполнения очередной операции все оборудование 
занято, то необходимо поставить операцию «в очередь» и 
начать производство сразу после освобождения оборудования 
нужного типа. 
4. Последние операции в заказе обычно занимают длительное 
время (например, полное высыхание краски) и для их 
проведения приостановление процесса основного 
производства не требуется. Поэтому такие о перации могут 
числиться отдельно, но должны быть учтены в общем 
минимальном времени выполнени я заказа (отдельной 
позицией). 
 
В качестве примера предоставлена схематичная спецификация 
на упрощенн ое изделие (сборочную единицу ) («Спецификации для 
изготовления барабана сварного.pdf ») и  пример диаграммы Ганта 
распределения операций по оборудованию для наглядности  
(«Алгоритм.xlsx»). 
 
Менеджеру должна быть предоставлена инфор мация о 
минимальном времени, которое необходимо потратить на 
производство заказа. 
Как итог , суммируйте это время с временем, которое придется 
потратить на доставку недостающих материалов и комплектующих. 
 
3.4 ПОСТРОЕНИЕ ДИАГР АММЫ ГАНТА ДЛЯ 
ПРОИЗВОДСТВА ЗАКАЗА 
Менеджер должен иметь возможность наглядно видеть, как 
распределены операции по оборудованию. Требуется разработать 
диаграмму Ганта производства заказа, как в приведенном примере 
(«Алгоритм.xlsx»). 
Учтите, что должно быть выведено только то оборудование, 
которое непосредственно необходимо для производства данного 
изделия. 
Желательно, чтобы на диаграмме было понятно, какая операция 
и для какой сборочной единицы/детали выполняется. 
 
Диаграмма Ганта - это популярный тип 
столбчатых диаграмм (гистограмм), которы й используется для 
иллюстрации плана, графика работ по какому-либо проекту. 
 
Нужно предусмотреть возможность вывода диаграммы на печать. 
 
3.5 ОТЧЕТ ПО МАТЕРИАЛАМ И КОМПЛЕКТУЮЩИМ 
Директору и менеджеру предприятия необходимо оперативно 
получать информацию по остаткам материалов и комплектующих. 
1) Пользователь должен иметь возможность выбрать: остатки 
материалов или остатки комплектующих он хочет посмотреть. 
2) Выведенные данные должны быть сгруппированы по складам, 
на которых хранятся материалы или комплектующие . По 
каждому складу должен быть подведен итог общего 
количества. 
3) Пользователь должен иметь возможность указать тип 
материалов (если ранее он выбирал для просмотра именно 
материалы) или тип комплектующих (в противном случае). 
Также должна быть возможность вывода всех типов. 
Разработайте форм у для отображения отчет а с возможностью 
вывода на печать. 
 