СОДЕРЖАНИЕ 
Сессия 2 данного задания состоит из следующих документации / 
файлов: 
WSR2018_DE09-C2.pdf (Инструкция к сессии 2) 
Значки.zip (Коллекция значков) 
Цеха.zip (Коллекция схем цехов) 
ВВЕДЕНИЕ 
На этой сессии Вы будете продолжать развивать информационную 
систему заказчика, опираясь на то, что Вы уже разработали. 
ВНИМАНИЕ! Если Вы не выполнили полностью задания предыдущих 
сессий, не выполняйте их сейчас – у Вас есть новые данные для 
работы. 
На этой сессии нужно будет создать функциональность для учета 
материалов и готовых изделий, необходимую для заказчика.  
Разрабатываемая Вами функциональность позволит редактировать 
планировку цехов, просматривать и редактировать список заказов, 
оформлять новые заказы, сп исывать материалы согласно спецификации, 
регистрировать сбои оборудования и производить контроль качества 
готовой продукции. 
ИНСТРУКЦИЯ УЧАСТНИКУ 
К концу этой сессии у Вас должны быть достигнуты результаты, 
необходимые для того чтобы заказчик был спокоен , что информационная 
система будет завершена вовремя. 
Убедитесь, что Вы предусмотрели все соответствующие проверки и 
сообщения об ошибках во всех частях системы. 
Убедитесь, что все соответствующие кнопки и механизмы работают в 
конце сессии. Не забывайте подключать создаваемые Вами формы к 
формам и интерфейсам, созданным ранее. 
Убедитесь, что Вы используете соответствующие соглашения об 
именах для всех частей системы по мере необходимости. 
В конце сессии все результаты будут сохранены и переданы заказчику 
без возможности дальнейшей доработки. 
ПРАКТИЧЕСКИЕ РЕЗУЛЬТАТЫ 
2.1 ПЛАНИРОВКА ЦЕХОВ 
На производстве имеется несколько цехов, планы которых 
представлены в ресурсах (Цеха.zip). Для каждого из цехов директор 
может просматривать, изменять и сохранять планировку (план 
эвакуации при пожаре), а именно: где схематично расположены 
оборудование, огнетушитель, аптечка, выходы. Условные обозначения 
представлены в ресурсах (Значки.zip). На схеме может быть не по 
одному объекту каждого из типа значков.  
Когда директор выбирает цех из выпадающего списка, должен 
быть отображен план цеха с установленными ранее значками на 
прежних местах. У директора должна быть возможность перетащить 
значок с одной панели (так называемой панели инструментов) на 
схему, перемещать значки по плану или вовсе удалить значок со 
схемы. После совершенных действий директор может сохранить 
обновленный план или отменить все совершенные действия.  
Должна быть возможность м асштабирования плана, то есть 
более детальный просмотр отдельных участков.  
Создайте форму, позволяющую директору составлять планы 
цехов. 
 
2.2 СПИСОК ЗАКАЗОВ 
Вам нужно разработать форму для отображения списка заказов. 
На этой форме должны выводиться: 
• номер и дата заказа; 
• наименование заказа; 
• статус заказа; 
• стоимость заказа; 
• заказчик; 
• запланированная дата выполнения; 
• ответственный менеджер. 
 
Каждый заказ проходит несколько этапов обработки. 
Каждому этапу обработки заказа соответствует его «статус»  – 
краткое однозначное отображение пользователю информации, в каком 
состоянии находится заказ. Количество статусов со временем развития 
информационной системы может меняться. 
Сейчас каждый заказ может проходить следующие этапы 
обработки: 
1. «Новый» – получена новая заявка на производство продукции. 
В это время заказчик может вносить изменения в свою заявку  
или вовсе удалить ее. 
2. «Отменен» – менеджер может отклонить заявку клиента с 
указанием причины отклонения, а также клиент может 
отменить заявку до этапа внесения п редоплаты без 
объяснения причин. 
3. «Составление спецификации» – менеджер принял заявку (с 
этого этапа у каждого заказа появляется свой менеджер) , 
связался с заказчиком и обговорил условия . Дальше  
конструктор и технолог составляют предварительную 
спецификацию на изделие и предварительный чертеж (если 
необходимо), рассчитываются сроки и стоимость заказа. 
4. «Подтверждение» – менеджер связывается с заказчиком , 
сообщает сумму и сроки изготовления, а заказчик  
подтверждает (вносит предоплату 50%) или отменяет заказ. 
5. «Закупка» – происходит закупка материалов и комплектующих. 
6. «Производство» – когда все материалы, необходимые для 
производства изделия, доставлены в компанию, заказ 
передается в производстве (клиент видит плановую дату 
завершения заказа). 
7. «Контроль» – после завершения производства мастер 
совершает контроль качества готового заказа. Найденный брак 
устраняется на этой стадии. 
8. «Готов» – заказ готов и отправляется на склад готовой 
продукции, ожидая отгрузки клиенту. 
9. «Закрыт» – заказ отгружен клиенту, произведена полная 
оплата, заказ закрыт. 
Последовательность статусов (за исключением статуса 
«Отменен») не может быть изменена. 
 
Все пользователи имеют доступ к списку заказов, но функционал 
у каждой роли отличается. 
Заказчик 
• просматривает список своих заказов, 
• может добавить заказ (для получения более подробных 
инструкций следует обратиться к пункту 2.3. «Оформление 
заказа»), 
• может удалить новый заказ, 
• может отклонить заказ до присвоения ему статуса «Закупка». 
Менеджер 
• видит все свободные (со статусом «Новый») и все свои заказы 
(менеджером которых он является); 
• может добавить зака з (для получения более подробных 
инструкций следует обратиться к пункту 2.3. «Оформление 
заказа»), 
• может принять свободный ( со статусом «Новый») заказ ( то 
есть стать его менеджером), после чего статус заказа меняется 
на «Составление спецификации»; 
• может отклонить «Новый» заказ клиента с указанием причины; 
• может менять статус заказов «Подтверждение» на статус 
«Отклонен», если клиент без объяснения причины 
отказывается от заявки, или на статус «Закупка», если клиент 
согласен с условиями выполнения заказа и вносит предоплату; 
• после поступления материалов может менять статус 
«Закупка» на статус «Производство»; 
• после отгрузки заказа в выбранный день клиенту и получения 
полной оплаты может сменить статус с «Готов» на «Закрыт». 
Директор 
• может просматривать все заказы, 
• не может менять статусы заказов. 
Конструктор 
• видит все заказы в статусе «Составление спецификации», 
• после выполнения работы по составлению чертежей  и 
получения информации о сроках изготовления заказа и его 
стоимости 
o должен ввести информацию о заказе: стоимость и 
плановую дату завершения заказа, 
o должен поменять статус «Составление спецификации» 
на «Подтверждение»; 
Мастер 
• видит все заказы, имеющие статус «Производство» и 
«Контроль»; 
• после выполнения работ по производству заказа может 
изменить статус на «Контроль»; 
• после осуществления контроля на качество заказа  (для 
получения более подробных инструкций следует обратиться к 
пункту 2.6. «Контроль качества» ) и устранения имеющихся 
дефектов может сменить статус на «Готов» и отправить заказ 
на склад готовой продукции. 
 
Все пользователи должны иметь доступ к фильтру, 
позволяющему производить отбор заказов по статусам: 
• новые заказы: статусы «Новый», «Составление 
спецификации» и «Подтверждение»; 
• выполненные заказы: статусы «Готов» и «Закрыт»; 
• текущие заказы: статусы «Закупка», «Производство» и 
«Контроль»; 
• отклоненные заказы: статус «Отклонен». 
 
Также необходимо хранить историю изменения статусов заказов, 
чтобы знать когда и как менялись статусы заказов. Разработайте 
форму для просмотра истории, доступную пользователям с ролью 
«Директор» или «Менеджер». 
 
2.3 ОФОРМЛЕНИЕ ЗАКАЗА 
Разработайте форму, позволяющ ую оформлять заказ на 
производство конвейера . Данный функционал доступен только для 
Заказчика и Менеджера. 
Если заказ добавляет менеджер, то  
o ему обязательно нужно выбрать существующего заказчика или 
создать нового; 
o заказу после сохранения сразу присваивается статус 
«Составление спецификации», а в качестве ответственного 
менеджера указывается менеджер, создавший заказ 
(авторизованный в данный момент в системе). 
 
Для нового заказа имеются следующие данные: 
• номер заказа (генерируется автоматически, инструкция ниже) 
• наименование заказа, 
• заказчик (для менеджера), 
• стоимость заказа и плановый срок изготовления (при наличии 
и без возможности редактирования), 
• дата заказа (изменять нельзя, по умолчанию ставится 
сегодняшняя), 
• описание изделия, 
• размеры готового изделия (есть возможность добавления 
нескольких замеров с единицами измерения и значением 
замера), 
• схемы, чертежи заказа от клиента (имеется возможность 
добавления файлов с последующим сохранением в базе 
данных). 
Заказ может быть отредактирован или удален, пока он имеет 
статус «Новый». 
 
Номер заказа составляется автоматически, содержит 12 
символов и имеет следующий формат: 
Ф И Г Г Г Г М М Д Д № № 
Ф – первая буква фамилии заказчика в верхнем регистре ( ‘_’ – 
если не указано); 
И – первая буква имени заказчика в верхнем регистре ( ‘_’ – если 
не указано); 
Г – год создания заказа; 
М – месяц создания заказа; 
Д – день создания заказа; 
№ – порядковый номер заказа у данного заказчика (после 99 
начинается снова с 1). 
 
Если какое-нибудь из чисел (М, Д или №) меньше 10, добавляется 
0 в начало. 
 
2.4 СПИСАНИЕ МАТЕРИАЛОВ И КОМПЛЕКТУЮЩИХ 
Данное действие система должна производить автоматически при 
смене статуса заказа «Закупка» на статус «Производство». 
После заказа и поступления на склад всех материалов и 
комплектующих, необходимых для изготовления конвейера, и 
передаче заказа в производство система должна автоматически 
списать нужное количество материалов и комплектующих согласно 
спецификации на изделие. 
При этом нужн о учитывать, что материалы, указанные в 
спецификации на готовое изделие, не являются полным списком 
необходимых материалов. Спецификация также может включать в 
себя сборочные единицы /детали, для изготовления которых тоже 
нужно определенное количество материалов, и так далее. 
Не стоит забывать, что количество необходимых сборочных 
единиц/деталей может быть больше 1, и в этом случае нужно будет 
умножать количество материалов для сборочной единицы /детали на 
количество требуемых сборочных единиц/деталей. 
 
2.5 СБОИ ОБОРУДОВАНИЯ 
В процессе производства могут происходить сбои оборудования. 
Для регистрации сбоев оборудования и последующего их анализа 
необходимо создать соответствующую форму. Работать с данной 
формой будет мастер. 
Мастер должен регистрировать каждый сбой оборудования, 
указывая время начала сбоя (с точностью до минут), выбрать причину 
и оборудование, на котором произошел сбой. После устранения 
поломки мастер должен зарегистрировать время продолжения работы 
оборудования. 
 
2.6 КОНТРОЛЬ КАЧЕСТВА 
После окончания изготовления изделия мастер должен 
произвести контроль качества. 
Необходимо создать форму, позволяющую мастеру заносить и 
сохранять результаты произведенных осмотров. 
По каждому заказу мастер может добавить неограниченное 
количество параметров качества (например, свободный ход деталей), 
хранящихся в базе данных, и поставить оценку: + (качество 
соответствует) или – (требуется исправление недочетов). Если мастер 
ставит отрицательную отметку, то он имеет возможн ость добавить 
комментарий к результату оценки параметра. 
Когда мастер осуществляет повторную  проверку, он имеет 
возможность поменять оценку у параметра. 
Мастер не может сменить статус заказа, пока все параметры не 
получат положительные оценки. 
 